html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;} 

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* === General Styles === */

html {
  font-size: 20px;
}

body  {
  background-color: #8A7EAB;
}

body, input::placeholder, button {
  font-family: 'Architects Daughter', cursive;
}

main {
  /* Height of main is screen height minus header+footer height to get footer to stick to bottom of page */
  min-height: calc(100vh - 17rem);
}

.App {
  text-align: center;
}

h1, p, ul, li, button {
  margin: 0;
}

.wrapper, form, ul {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

input {
  border-radius: 4px;
  height: 1.75rem;
  font-family: inherit;
  border-color: #D8B094;
  background-color: #f7ddc4;
}

input:focus {
  box-shadow: none;
  outline: 3px solid #FFB900;
  border-style: none;
  transition: all 0.3s;
}

button {
  border: none;
  border-radius: 4px;
  height: 1.75rem;
  background-color: whitesmoke;
}


p, button {
  font-size: 1rem;
  letter-spacing: 0.025rem;
}


/* === Header === */

header {
  padding: 4rem 1rem;
  min-height: 14rem;
}

h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
}

header p {
  line-height: 1.5rem;
}


/* === Form Styles === */

form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inputContainer {
  margin-right: 1rem;
  width: 60%;
  transition: all 0.3s;
}

.mainInput {
  width: 100%;
  padding: 0.25rem;
  border-color: #D8B094;
}

.mainInput::placeholder {
  color: transparent;
}

.mainInput:focus {
  box-shadow: none;
  outline: 2px solid #FFB900;
  border-style: none;
}

.mainInput:focus + .mainLabel,
.mainInput:not(:placeholder-shown) + .mainLabel {
  transform: translateY(-3.05rem) scale(0.8);
  opacity: 1;
  letter-spacing: 0.05rem;
}

.mainLabel {
  display: block;
  position: absolute;
  opacity: 0.75;
  transform: translateY(-1.4rem);
  transform-origin: 0 0;
  transition: all 0.3s;
  text-align: left;
  margin-left: 0.45rem;
  cursor: text;
}

form button {
  padding: 0 1rem;
}

form button:hover,
form button:focus {
  background-color: rgb(86, 153, 115);
  color: white;
}

form button:active {
  background-color: #FFB900;
  color: #8A7EAB;
}


/* === UL Styles === */

.invSection {
  margin: 2rem 0;
}

.invDiv ul {
  background-color: #f7ddc4;
  border-radius: 4px;
  padding: 2rem;
  list-style: none;
  transition: all 0.3s;
}


/* === ListItem Styles ===*/

.listLegend {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #FFB900;
  padding: 0.5rem 1rem;
  background-color: #FFF1E3;
}

.listLegend p {
  margin: 0 3.75rem 0.2rem 0;
  font-weight: bold;
}

.invItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  margin: 0;
  background-color: #f7ddc4;
  border: 3px solid #f7ddc4;
}

.invItem:nth-of-type(2n) {
  background-color: #FFF1E3;
  border: 3px solid #FFF1E3;
}

.invItem:hover {
  background: linear-gradient(to right, #FFB900, transparent);
  border: 3px solid whitesmoke;
}

.invItem p {
  text-align: left;
  margin: 0 0.75rem 0 0;
  max-width: 55%;
  word-wrap: break-word;
}

.qtyInput {
  text-align: center;
  letter-spacing: 0.1rem;
  width: 3rem;
  background-color: #FFF1E3;
  margin: 0 0.5rem;
}

/* Turn off spinner arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.qtyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90px;
}

.qtyContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incBtn, .decBtn {
  height: 1rem;
  min-width: 1.5rem;
  margin: 0.1rem 0;
  line-height: 0.5rem;
  font-weight: bold;
}

.incBtn:hover, .decBtn:hover,
.incBtn:focus, .decBtn:focus {
  background-color: #8A7EAB;
  color: white;
}

.qtyBtnContainer {
  display: flex;
  flex-direction: column;
  order: -1;
}

.deleteBtn {
  height: 1.5rem;
  min-width: 1.5rem;
  border: none;
  border-radius: 4px;
  margin-left: 1.5rem;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: rgb(189, 117, 117);
  color: white;
}

.deleteBtn:active {
  background-color: #FFB900;
  color: #8A7EAB;
}

i {
  font-size: 0.75rem;
}


/* === Footer Styles === */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 3rem;
  padding: 0 2rem;
  width: 100%;
}


/* === Media Queries === */

/* Tablet */

@media (max-width: 880px) {

  h1 {
    font-size: 2rem;
  }

  form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .inputContainer {
    width: 80%;
    margin: 0 0 2rem 0;
  }

  input::placeholder {
  text-align: center;
}

  .invSection ul {
    width: 100%;
    padding: 1.5rem 0 0 0;
  }

  .listLegend p {
    margin-right: 2.5rem;
  }

  li > p {
    margin: 0;
    max-width: 55%;
  }

  .deleteBtn {
    margin-left: 0.5rem;
  }

  .qtyInput {
    width: 2rem;
  }
}

/* Mobile */

@media (max-width: 550px) {
  .wrapper {
    width: 100%;
  }

  input {
    width: 80%;
  }

  .invItem {
    padding: 3rem 1.5rem;
    position: relative;
  }

  .listLegend p {
    margin-right: 1.15rem;
  }
  
  li > p {
  max-width: 50%;
  margin-left: 1rem;
}

.qtyContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  margin: 1rem 0 0 0;
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
}
  
  footer {
    height: 4rem;
  }
}